*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  font-family: 'Noticia Text', serif;
}
.container{
  position: relative;
  margin: auto;
  max-width: 330px;
  max-height: 660px;
  border: 1px solid grey;
  border-radius: 6px;
  overflow: hidden;
}
.video-player{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.video-player video{
  width: 100%;
  height: 100%;
}

.sidebar{
  padding: 10px;
  position: absolute;
  bottom: 5em;
  right: 0;
  z-index: 2;
}
.sidebar div{
  margin: 1em 0 1em 0;
  font-size: small;
  color: #fff;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.sidebar div p{
  margin-top: -0.5em;
}
.comment svg path{
  color: #fff;
}

.footer{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(102, 102, 102, 0.14);
  z-index: 2;
}
.footer svg{
  height: 2.5em;
  cursor: pointer;
}

.comment-box{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.84);
  border-radius: 1em 1em 0 0;
  overflow: hidden;
  z-index: 5;
  display: none;
}
.comment-body{
  position: relative;
  width: 100%;
  height: 100%;
}
.comment-close{
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.comment-close svg{
  height: 2em;
}
.reply-list{
  width: 100%;
  height: 100%;
  /* border: 1px solid #fff; */
  border-radius: 1em 1em 0 0;
  overflow: scroll;
}
.reply-list::-webkit-scrollbar {
  display: none;
}
.comment-input{
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#reply-form{
  width: 100%;
}
#reply-message{
  margin: 0 0 2px 2px;
  padding: 10px;
  width: 100%;
  height: 2.5em;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.132);
  border-radius: 6px;
  font-size: 0.7em;
  letter-spacing: 1px;
  word-spacing: 3px;
  color: #fff;
  background-color: transparent;
}
.reply-button{
  margin: 0 10px 0 10px;
  cursor: pointer;
}
.reply-button svg{
  height: 1.2em;
}

.video-details{
  padding: 5px 10px;
  position: absolute;
  bottom: 3em;
  /* height: 30%; */
  width: 100%;
  /* background-color: rgba(34, 34, 34, 0.683); */
  z-index: 1;
}
.details-body{
  position: relative;
  width: 100%;
  /* height: 100%; */
  color: #fff;
  font-size: 0.6em;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.details-body .username{
  margin: 5px 10px 10px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.details-body .username img{
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
}
.details-body .username p{
  padding-left: 10px;
  font-weight: bold;
  font-size: 1.2em;
}
.details-body .description{
  margin-bottom: 10px;
}
.music{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.music svg{
  height: 1.5em;
}
.music-disc{
  position: absolute;
  bottom: 0;
  right: 0;
  animation: disc-anime infinite linear 2s;
}
.music-disc svg{
  height: 2.5em;
}
@keyframes disc-anime {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#video-form{
  display: none;
}